
/* Animation de saisie */
.form-input-animate {
    animation: input-animation 0.3s ease-in-out;
  }
  
  @keyframes input-animation {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Styles pour le formulaire d'inscription */
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-container .form-group {
    margin-bottom: 20px;
  }
  
  .form-container .form-group label {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease-in-out;
  }
  
  .register{
    padding: 40px;
  }

  .form-container .form-group input:focus {
    outline: none;
    border-color: #6c63ff;
  }
  
  .form-container .form-group .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .form-container .form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .form-container .form-actions a {
    margin-right: 10px;
    color: #6c63ff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .form-container .form-actions a:hover {
    color: #4b47c9;
  }
  
  .form-container .form-actions button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6c63ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .form-container .form-actions button:hover {
    background-color: #4b47c9;
  }
  
  /* Media Query pour rendre le formulaire responsive */
  @media screen and (max-width: 480px) {
    .form-container {
      max-width: 100%;
      padding: 10px;
    }
  }
  